body {
    background-color: #f8f8f8;
    border: 2px solid #999999;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.logo {
    position: relative;
    right: 20px;
}

.collapse-menu {
    position: relative;
    left: 20px;
}

.search-icon {
    position: relative;
    right: 5px;
}

.sign {
    position: relative;
    right: 20px;
}

.mini-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #167AC6;
    color: white;
    margin: 0px;
    width: 100%;
}

.far fa-user {
    align-items: flex-start;
    margin-right: 10px;
    vertical-align: middle;
    width: 10%;
}

h4 {
    position: relative;
    right: 400px;
    width: 20%;
}