body {
    background-color: #f8f8f8;
    border: 2px solid #999999;
}


/*.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
*/

.sign {
    display: block;
    float: left;
    margin-left: 180px;
    padding-left: 180px;
}

form {
    display: inline-block;
}

input {
    padding-left: 20px;
    width: auto;
}